.scroll-post-feed{ }
.chat .messages .list .from-me:after,.chat .messages .list .from-me:before,.chat .messages .list .from-them:after,.chat .messages .list .from-them:before{height:20px;content:""}
.chat{position:fixed;display:none;top:0;right:0;bottom:0;width:300px;z-index:1001;overflow:hidden}@media only screen and (max-width :600px){.chat{width:100%}}.chat .layer-content{position:absolute;top:0;left:0;right:0;bottom:0}.chat .layer-content,.chat .layer-overlay{background:#35384C}.chat .contacts,.chat .messages{-webkit-transition:left 300ms ease-in-out;transition:left 300ms ease-in-out}.chat.open-messages .contacts{left:-100%}.chat.open-messages .messages{left:0}.chat .topbar{position:absolute;top:0;left:0;right:0;height:55px;background:#2d2f40}.chat .topbar>.sp-cancel,.chat .topbar>a{font-size:1.3rem;line-height:55px;height:55px;padding:0 10px;color:#fff;display:inline-block}.chat .topbar>.sp-cancel>i,.chat .topbar>a>i{vertical-align:middle;font-size:2rem}.chat .topbar>.text.sp-cancel,.chat .topbar>a.text{padding-left:20px}.chat .topbar .chat-toggle{position:absolute;right:0;top:0;color:#fff;z-index:3;font-size:2rem;line-height:49px}.chat .contacts{position:absolute;top:0;left:0;bottom:0;width:100%}.chat .contacts>.nano{margin-top:55px}.chat .contacts .label{font-size:.9em;display:block;text-transform:uppercase;text-align:center;color:#767CA0;height:40px;line-height:40px}.chat .contacts .user{position:relative;color:#fff;padding:10px 1rem;cursor:pointer}.chat .contacts .user:hover{background-color:#2d2f40}.chat .contacts .user .photo{width:40px;vertical-align:middle;margin-right:1rem;float:left}.chat .contacts .user .name{font-weight:700;display:inline-block}.chat .contacts .user .status{font-size:.9em;color:#D8D8D8}.chat .contacts .user .online{position:absolute;font-size:.5rem;top:50%;margin-top:-6px;right:1rem}.chat .messages{position:absolute;top:0;left:100%;bottom:0;width:100%}.chat .messages .list{position:absolute;top:0;left:0;right:0;bottom:55px;margin-top:55px}.chat .messages .list .nano-content{padding:1.3rem 1.3rem 1.3rem 46.9px;padding-left:-webkit-calc(30px + 1.3rem);padding-left:calc(30px + 1.3rem)}.chat .messages .list .nano-content .date{font-size:.8rem;padding:1rem 0;margin-left:-30px;color:#fff;text-align:center;clear:both}.chat .messages .list .nano-content .date:first-child{padding-top:0}.chat .messages .list .from-me,.chat .messages .list .from-them{position:relative;padding:10px 20px;border-radius:5px;word-wrap:break-word;max-width:100%}.chat .messages .list .from-them{color:#000;background:#FFF;float:left;-webkit-transform-origin:0 100%;-ms-transform-origin:0 100%;transform-origin:0 100%}.chat .messages .list .from-them:before{position:absolute;z-index:2;bottom:-2px;left:-15px;border-left:20px solid #FFF;-webkit-transform:translate(0,-2px);-ms-transform:translate(0,-2px);transform:translate(0,-2px)}.chat .messages .list .from-them:after{position:absolute;z-index:3;bottom:-2px;left:4px;width:26px;background:#35384C;border-bottom-right-radius:10px;-webkit-transform:translate(-30px,-2px);-ms-transform:translate(-30px,-2px);transform:translate(-30px,-2px)}.chat .messages .list .from-them .date{font-size:.8rem;margin-top:.5rem;margin-bottom:0;text-align:left}.chat .messages .list .from-them .photo{position:absolute;bottom:0;left:-35px;max-width:30px;z-index:4}.chat .messages .list .from-me{color:#fff;background:#42A5F5;float:right;-webkit-transform-origin:100% 100%;-ms-transform-origin:100% 100%;transform-origin:100% 100%}.chat .messages .list .from-me:before{position:absolute;z-index:2;bottom:-2px;right:-15px;border-right:20px solid #42A5F5;-webkit-transform:translate(0,-2px);-ms-transform:translate(0,-2px);transform:translate(0,-2px)}.chat .messages .list .from-me:after{position:absolute;z-index:3;bottom:-2px;right:4px;width:26px;background:#35384C;border-bottom-left-radius:10px;-webkit-transform:translate(30px,-2px);-ms-transform:translate(30px,-2px);transform:translate(30px,-2px)}.chat .messages .list .from-me .date{font-size:.8rem;margin-top:.5rem;margin-bottom:0;text-align:right}.chat .messages .list .clear{clear:both;height:1rem}.chat .messages .send{position:absolute;bottom:0;left:0;right:0;height:55px;padding:0 8px;background:#2d2f40}.chat .messages .send .input-field{margin-top:8px;margin-right:65px}.chat .messages .send .input-field input{color:#fff;margin:0;height:2.7rem;padding:0 7px}.chat .messages .send button{position:absolute;top:8px;right:8px;padding:0 1rem}.chat.chat-light .layer-content{border-left:1px solid #DEE1EC}.chat.chat-light .layer-content,.chat.chat-light .layer-overlay{background:#fff}.chat.chat-light .topbar{background:#f5f5f5}.chat.chat-light .topbar .chat-toggle,.chat.chat-light .topbar>.sp-cancel,.chat.chat-light .topbar>a{color:inherit}.chat.chat-light .contacts .user{position:relative;color:inherit}.chat.chat-light .contacts .user:hover{color:#fff;background-color:#42A5F5}.chat.chat-light .contacts .user:hover .status{color:#ECECEC}.chat.chat-light .contacts .user .status{color:#939393}.chat.chat-light .messages .list .nano-content .date{color:inherit}.chat.chat-light .messages .from-them{color:#fff;background:#35384C}.chat.chat-light .messages .from-me:after,.chat.chat-light .messages .from-them:after{background:#fff}.chat.chat-light .messages .from-them:before{border-left:20px solid #35384C}.chat.chat-light .messages .from-me:before{border-right:20px solid #42A5F5}.chat.chat-light .messages .send{background:#f5f5f5}.select2-container--default .select2-results__option--highlighted[aria-selected],div.tagsinput span.tag{background-color:#42A5F5}.chat.chat-light .messages .send .input-field input{color:inherit}
.blue-grey{color: #37474f}

.chat .secondary-content {
  color: #f4f4f4; }
.secondary-content {
  color: #424242; }
  span.badge.new {
    background-color: rgb(244, 67, 54);
  }
  .tabs .indicator {

    background-color: rgb(33, 150, 243);
 }

.none-bg{background-color: transparent!important}

input [type="checkbox"]:checked + label:before{border-right: #2196F3; border-bottom: #2196F3}

#calendar-widget .fc-toolbar {
    background-color: #00bcd4;
    background-image: url('../images/icon-event.png');
    background-position: right;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;
    text-transform: capitalize;
    margin-top: 8.5px
}

#calendar-widget .fc-center{
float: left;
    margin-left: 20px;
    margin-top: 32px;
}
#calendar-widget .fc-center h2 {
    text-align: left;
    font-size: 1.0rem;
    margin: 0;
    color: #fff;
    
}
#calendar-widget .fc-center h2::before {
    text-transform: capitalize;
    color: #fff;
    font-weight: 300;
    font-size: 2.28rem;
    line-height: 0.700rem;
    content: 'Agenda de Estudos';
    display: block;
    clear: both;
    text-align: left
}

#calendar-widget .fc-toolbar .fc-left, #calendar-widget .fc-toolbar .fc-right {
    display: none;
}

#calendar-widget .fc-view-container{
    margin-top: -15px;
    border: 1px #e0e0e0 solid;
    border-top: none;
    border-radius: 1px
    }
#calendar-widget table thead tr td{
    text-align: center;
    border: none
}

#calendar-widget table thead {
    background-color: #fff;
    text-align: center
}

#calendar-widget table tr th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.0rem;
    margin: 0;
    border-radius: 0px;
    font-weight: 300;
    background-color: #e57373   ;
    color: white
}

.bg-card-tasks{
    background-image: url('../images/icon-done-all.png');
    background-position: right;
    background-repeat: no-repeat;
    background-blend-mode: soft-light
}

.card-rss {
    padding: 20px;
}
.card-rss-header {
    height: 40px;
    text-align: left;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    background-color: #00bcd4;
    padding-left: 20px;
    widows: 100%
}
.card-rss .title {
    float: left;
    color: #fff;
    font-size: 18.5px;
}
.card-rss a {text-decoration: none; color: inherit}
.card-rss h4 a{
    float: left;
    color: #fff;
    font-size: 18.5px;
}

.bx-viewport{
    left: 0px !important
}
.card-rss{
    height: 100px; margin-top: -3px;
}
.card-corpo{
border-top: 1px #eeeee solid;
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: -0.0001em
}
.num-infos {
    color: #fff;
    font-size: 70px;
    font-weight: 200;
    text-align: right;
    margin-right: 7px;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    letter-spacing: 0.005px;
    margin-top: -5px
}
.bg-infos{
opacity: 0.5; margin-top: 25px; margin-bottom: 5px; margin-left:15px
}
.text-infos{opacity: 0.3px; margin-right: 7px; margin-top: -2px}

.profile-image-post {
  width: 60px;
  margin: 30px 10px;
}
.share-icons i {
  padding: 0px 5px;
}

div.tagsinput span.tag {
  margin-right: 5px;
  margin-top: 6px;
  margin-bottom: 0;
  padding: 3px 10px;
  border: none;
  color: #fff;
}
div.tagsinput input {
  height: 3rem;
  line-height: 3rem;
  margin: 0;
  padding: 0;
  border: none;
}
div.tagsinput {
  border: none;
  padding: 0;
  border-bottom: 1px solid #9e9e9e;
}
div.tagsinput {
  border: 1px solid #CCC;
  background: #FFF;
  padding: 5px;
  width: 300px;
  height: 100px;
  overflow-y: auto;
}



div.tagsinput {
  border: none !important;
  background: transparent !important;
}
div.tagsinput {
  border: none !important; 
  background: transparent !important; 
  padding: 5px;
  width: 300px;
  height: 100px;
  overflow-y: auto;
}

.timeline-block:after,
.timeline-content.card-panel:before,
.timeline-content.card:before,
.timeline:after,
.timeline:before {
    content: ''
}
.timeline-icon {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .26)
}
.timeline-icon {
    border-radius: 50%
}

.timeline {
    position: relative;
    margin-bottom: 1.3rem
}
.timeline:after {
    display: table;
    clear: both
}
.timeline:before {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    height: 100%;
    width: 4px;
    background: #E0E0E0
}
@media only screen and (max-width:992px) {
    .timeline:before {
        left: 28px;
        margin-left: 0
    }
}
.timeline-block {
    position: relative;
    margin: 4em 0;
    clear: both
}
.timeline-block:after {
    display: table;
    clear: both
}
.timeline-block:first-child {
    margin-top: 0
}
.timeline-block:last-child {
    margin-bottom: 0
}
@media only screen and (max-width:992px) {
    .timeline-block {
        margin: 2em 0;
        padding-left: 80px
    }
    .timeline-block:first-child {
        margin-top: 0
    }
    .timeline-block:last-child {
        margin-bottom: 0
    }
}
.timeline-icon {
    position: absolute;
    top: 0;
    left: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -30px;
    background: #fff;
    font-size: 2rem;
    text-align: center;
    overflow: hidden
}
.dataTables_wrapper .dataTables_filter label,
.dataTables_wrapper .dataTables_length label {
    font-size: 1rem
}
.timeline-icon>i {
    vertical-align: baseline
}
.timeline-icon img {
    display: block;
    width: 100%
}
@media only screen and (max-width:992px) {
    .timeline-icon {
        left: 0;
        margin-left: 0
    }
}
.timeline-content {
    position: relative;
    margin-left: 0;
    width: 45%
}
.timeline-content:before {
    top: 24px;
    left: 100%;
    border-color: transparent transparent transparent #fff
}
.timeline-content .timeline-date {
    display: inline-block;
    position: absolute;
    float: left;
    padding: .8em 0;
    opacity: .7;
    width: 100%;
    left: 122%;
    top: 10px
}
.timeline-content.card-panel:before,
.timeline-content.card:before {
    position: absolute;
    top: 20px;
    right: 100%;
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-left: 10px solid #fff
}
.timeline-block:nth-child(even) .timeline-content {
    float: right
}
.timeline-block:nth-child(even) .timeline-content:before {
    left: auto;
    right: 100%;
    border-color: transparent #fff transparent transparent
}
.timeline-block:nth-child(even) .timeline-content .timeline-date {
    left: auto;
    right: 122%;
    text-align: right
}
@media only screen and (max-width:992px) {
    .timeline-content {
        width: 100%
    }
    .timeline-content .timeline-date {
        position: relative;
        left: 0
    }
    .timeline-block .timeline-content {
        float: none
    }
    .timeline-block .timeline-content:before {
        left: auto;
        right: 100%;
        border-color: transparent #fff transparent transparent
    }
    .timeline-block .timeline-content .timeline-date {
        left: 0;
        text-align: left
    }
}

html.rtl .timeline-content .timeline-date {
    left: auto;
    right: 122%
}
html.rtl .timeline-block:nth-child(even) .timeline-content .timeline-date {
    right: auto;
    left: 122%;
    text-align: left
}
html.rtl .timeline-content.card-panel:before,
html.rtl .timeline-content.card:before {
    border: 10px solid transparent;
    border-right: 10px solid #fff
}
html.rtl .timeline-block:nth-child(even) .timeline-content:before {
    right: auto;
    left: 100%;
    border: 10px solid transparent;
    border-left: 10px solid #fff
}


.timeline-post-title {
  margin: 0;
  color: #212121;
  font-weight: 300;
}
.timeline-pont-desafio {
  margin: 0;
  color: #212121;
  font-weight: 200;
}
.timeline-content .divider{margin-bottom: 10px}

.comentarios-discussao div li{height: auto !important; max-height: 100px !important}

.psb{overflow: hidden !important}

.color-pri{background-color: #0097a7 !important}
.color-pri-text{color: #0097a7 !important}
.color-pri-light{background-color: #00acc1 !important}
.color-pri-darken{background-color: #00838f !important}
.color-sec{background-color: #f44336 !important}
.color-sec-text{color: #f44336 !important}
.color-sec-light{background-color: #ef5350 !important}
.color-sec-light-text{color: #ef5350 !important}
.color-sec-darken{background-color: #e53935 !important}
.color-sec-darken-text{color: #e53935 !important}

.resultados-pesquisa .tabs .indicator{background-color: #e53935!important}
#modal-conta-aluno .tabs .indicator{background-color: #e53935!important}

.msg-enviada{color: #fff;background-color: #42A5F5;float: right;position: relative;padding: 10px 20px;border-radius: 5px;word-wrap: break-word;max-width: 100%}
.msg-recebida{color: #000;background-color: #fff3e0;float: left;position: relative;padding: 10px 20px;border-radius: 5px;word-wrap: break-word;max-width: 100%}
.clear{clear: both;height: 1rem}
