/*
Folha de estio com alterações necessárias para a página de mensagens
@2016 ETEC Social.
*/
/* 
    Created on : 22/03/2016, 21:06:38
    Author     : Jhonatan Lopes
*/
#email-sidebar{min-height: 75% !important; max-height: 75% !important}
#email-list{max-height: 75% !important; overflow-y: auto}
#email-details{min-height: 75% !important; max-height: 75% !important; overflow-y: auto}
.email-content{max-height: 45% !important; overflow-y: auto !important}

